:root {
    --white: #fff;
    --light: #eee;
    --dark: #556173;
    --darker: #131519;
    --grey: #6B7280;
    --orange: #ffa500;
    --lightorange: #e9bd6b;
    --pink: #d87093;

    --shadow: 0 1px 3px rbga(0, 0, 0, 0,1);

    --pink-glow: 0px 0px 4px rgba(216, 112, 147, 0.75);
    --orange-glow: 0px 0px 4px rgba(225, 165, 0, 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    /* background: none; */
    cursor: initial;
}

body {
    background-color: var(--white);
    color: var(--darker);
    background-blend-mode: 100;
    background-image: url(https://images.unsplash.com/photo-1563291074-2bf8677ac0e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGxhaW4lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    display: flex;
    align-items: center;
    color: var(--white);
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 2px solid var(--pink);
    padding: 2rem;
    margin: 0;
    text-transform: uppercase;
}

.create-todo input[type="text"] {
    display: block;
    width: 80%;
    font-size: 1.125rem;
    padding: 2rem;
    color: var(--darker);
    background-color: var(--light);
    border-radius: 0.5rem;
    box-shadow: var(--pink-glow);
    margin: 2rem;
}

input[type="checkbox"] {
    display: none;
}

.create-to-do input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--pink);
    box-shadow: var(--pink-glow);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-to-do input[type="submit"]:hover {
    opacity: 0.75;
}

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--pink-glow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: var(--darker);
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: ;
}



